<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651950064632-ckb34onp2srs3s9ab1fujpj2pogo01if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651950064632-ckb34onp2srs3s9ab1fujpj2pogo01if</string>
	<key>API_KEY</key>
	<string>AIzaSyCuOXE3OFzrLr8IK4uq0zLrhN0pV9YQl9o</string>
	<key>GCM_SENDER_ID</key>
	<string>651950064632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-333101</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-333101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651950064632:ios:c66edad37e9fa305a80c0d</string>
</dict>
</plist>